<div class="menulatbox">
<div class="row butmenu">
       <a routerLink="/users" routerLinkActive="active">
     <div class="col-xs-3"><i class="material-icons">account_box</i> </div>
    <div class="col-xs-9">Users</div>
     </a>

</div>
<div class="row butmenu">
      <a routerLink="/clients" routerLinkActive="active">
      <div class="col-xs-3"><i class="material-icons">contacts</i></div>
      <div class="col-xs-9">Clients</div>
     </a>
</div>
<div class="row butmenu">
    <a routerLink="/projects" routerLinkActive="active">
  <div class="col-xs-3"><i class="material-icons">assignment</i></div>
  <div class="col-xs-9">Projects</div>
     </a>
</div>
<div class="row butmenu">
  <a routerLink="/tasks" routerLinkActive="active">
  <div class="col-xs-3"><i class="material-icons">list</i></div>
  <div class="col-xs-9">Tasks</div>
  </a>
</div>

<div class="row butmenu">
  <a routerLink="/calendar" routerLinkActive="active">
    <div class="col-xs-3"><i class="material-icons">date_range</i></div>
    <div class="col-xs-9">Calendar</div>
  </a>
</div>
<div class="row butmenu">
  <a routerLink="/status" routerLinkActive="active">
    <div class="col-xs-3"><i class="material-icons">low_priority</i></div>
    <div class="col-xs-9">Status Tasks</div>
  </a>
</div>
</div>
