<div class="container">
  <div class="row">
    <div class="col-sm-6"><img src="./assets/images/grupo1.png" class="img-responsive" alt=""></div>
    <div class="col-sm-6">
      <h1>Es tiempo de ir a otro nivel</h1>
      <p style="font-size:1.5em">Cuando tu equipo necesite poner en marcha un proyecto, 
        contratar a un empleado, implementar código, 
        revisar un contrato de ventas, 
        finalizar el presupuesto del próximo año, 
        medir una prueba A/B, planificar la apertura de tu próxima oficina o cualquier otra situación, puedes contar con AGIL Software.
    </p>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
 
    <div class="col-sm-6">
      <h1>Es tiempo de ir a otro nivel</h1>
      <p style="font-size:1.5em">Cuando tu equipo necesite poner en marcha un proyecto, 
        contratar a un empleado, implementar código, 
        revisar un contrato de ventas, 
        finalizar el presupuesto del próximo año, 
        medir una prueba A/B, planificar la apertura de tu próxima oficina o cualquier otra situación, puedes contar con AGIL Software.
    </p>
    </div>
     <div class="col-sm-6"><img src="./assets/images/grupo2.png" class="img-responsive" alt=""></div>
  </div>
</div>